---
const name = 'Christophe'
const animals = ['cats', 'dogs']
const {greeting, firstname} = Astro.props
---


<div>
  <h1>{`About Page. Hello ${name}`}</h1>
  <ul>
    {animals.map((animal) => (
      <Fragment>
      <li>Red {animal}</li>
      <li>Blue {animal}</li>
      <li>Yellow {animal}</li>
      </Fragment>
    ))}
  </ul>
  <h3>{greeting} {firstname}</h3>
</div>
